fspaas.aes
fspaas.db
backend-app.tar.gz
frontend-app.tar.gz
example-app.tar.gz
/client/sarabiclient
daemon.json
.idea
sarabi.aes
docker-compose.yml
dynamic-config.yml
traefik.yml
layer4
Dockerfile
floki
*.log# Added by goreleaser init:
dist/
49287283-9387-4cba-8300-6a10ee027f83.sql
*.log
main
sarabi
docs/.vscode